@tailwind base;
@tailwind components;
@tailwind utilities;


/* tambahkan di global css */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}